@import url('footer.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html{
    background-color: gray;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}

p{
    font-size: 0.8rem;
}

figcaption{
    color: white;
    text-align: center;
    font-size: 0.75rem;
    text-decoration: none;
    font-style: normal;
}

a{
    text-decoration: none;
    font-style: none;
    color: white;
}

abbr{
    font-style: normal;
    text-decoration: none;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


main {
    flex: 1;
}

h1{
    text-align: center;
}

footer {
    width: 100%;
    background-color: #e30613;
    color: white;
    padding-top: 20px;
    
}
